/* Main Fonts */
@font-face {
    font-family: 'Bricolage Grotesque-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/BricolageGrotesque-Bold.woff2') format('woff2'),
            url('../fonts/BricolageGrotesque-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/BricolageGrotesque-Regular.woff2') format('woff2'),
            url('../fonts/BricolageGrotesque-Regular.ttf') format('truetype');
    font-display: swap;
}


/* Main Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: linear-gradient(to bottom, #fffedf 0%, #feffb0 50%, #ffec5e 100%);
}

h1 {
    margin: 16px 0 8px;
    font-family: 'Bricolage Grotesque-Bold', sans-serif;
    font-size: 3.4rem;
    color: rgb(0 0 0);
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px 14px;
    font-family: 'Bricolage Grotesque-Regular', sans-serif;
    font-weight: 400;
    color: rgb(0 0 0);
    text-align: left;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

.socials {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 8px 14px;
}

.fact-box {
    width: min(720px, 90%);
    max-height: 35vh;
    padding: 21px;
    margin: 12px auto;
    overflow: auto;
    font-family: 'Bricolage Grotesque-Regular', sans-serif;
    font-size: 1.05em;
    line-height: 1.35;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
}

.fact-button {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    font-family: 'Bricolage Grotesque-Regular', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 999px;
}

/* Shadows fyrir facts. */
.fact-button,
.fact-box {
    box-shadow: 0 6px 0 #111, 0 12px 24px rgb(0 0 0 / 15%);
}

/* Hover effects fyrir facts. */
.fact-button:hover {
    box-shadow: 0 8px 0 #111, 0 16px 28px rgb(0 0 0 / 18%);
    filter: saturate(1.05);
    transform: translateY(-1px);
}

/* Container  */
.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 16px 70px;
}

/* Mobile Properties, compatability fyrir Samsung og Iphone, er ekki búinn að prófa á Tablet */
@media screen and (width <= 600px) {
    h1 {
        font-size: 2.5rem;
    }

    footer {
        text-align: center;
    }

    .container {
        padding: 10px 12px;
        padding-bottom: 56px;
        margin-top: 28px;
        font-size: 1.05em;
    }

    .fact-box {
        max-height: 30vh;
        padding: 14px;
        font-size: 1.05em;
        border-radius: 28px;
    }

    .fact-button {
        width: 80%;
        max-width: 420px;
        padding: 12px 16px;
        margin-top: 8px;
        font-size: 1.05em;
    }

    .socials {
        top: 0;
        bottom: 8px;
        padding: 8px 14px;
    }
}